Repository Workiva/aws-lambda-fsm-workflows, pull requests merged in 2020-01, with the labels that each got.

#30 Add Pyton 3 support
  .travis.yml
  Makefile
  README.md
  aws_lambda_fsm/action.py
  aws_lambda_fsm/aws.py
  aws_lambda_fsm/client.py
  aws_lambda_fsm/constants.py
  aws_lambda_fsm/fsm.py
  aws_lambda_fsm/state.py
  aws_lambda_fsm/transition.py
  examples/tracer/actions.py
  requirements.txt
  requirements_dev.txt
  tests/aws_lambda_fsm/__init__.py
  tests/aws_lambda_fsm/test_aws.py
  tests/aws_lambda_fsm/test_fsm.py
  tests/aws_lambda_fsm/test_handler.py
  tests/aws_lambda_fsm/test_serialization.py
  tests/functional/Dockerfile
  tests/functional/README.md
  tests/functional/docker-compose.yaml
  tests/functional/settings.py.functional
  tests/functional/supervisor.conf
  tests/functional/test_base.py
  tests/functional/test_dispatched.py
  tests/functional/test_lease.py
  tests/integration/utils.py
  tools/dev_lambda.py
  tools/experimental/Dockerfile.dev_ecs
  tools/experimental/Dockerfile.fsm_docker_runner
  tools/experimental/dev_ecs.py
  tools/experimental/docker-compose.yaml
  tools/experimental/settings.py.dev_ecs
  tools/yaml_to_graphviz.py
  tools/yaml_to_json.py
Labels: InfoSec Review Required, Merge Requirements Unmet

#57 WAP-5315 bumped pyyaml to 5.3 due to CVE
  requirements.txt
Labels: Merge Requirements Met, RM Ready

#58 WAP-5316 using sha256 rather than md5 in order to minimize the chances of future fedramp-related-scan warning messages
  aws_lambda_fsm/aws.py
  tests/aws_lambda_fsm/test_aws.py
Labels: InfoSec Review Required, Merge Requirements Met, RM Ready

#59 WAP-4860 Release aws-lambda-fsm-workflows 0.29.0
  aws_lambda_fsm/_pkg_meta.py
Labels: Merge Requirements Met, RM Ready

#60 WAP-5330 Removing dist folder
  .gitignore
  dist/aws-lambda-fsm-0.28.0-py27.tar.gz
  dist/aws-lambda-fsm-0.28.0-py37.tar.gz
Labels: Merge Requirements Unmet, RM Ready

#61 WAP-5327 Release aws-lambda-fsm-workflows 0.30.0
  aws_lambda_fsm/_pkg_meta.py
Labels: Merge Requirements Unmet, RM Ready
